div {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 200px;
    height: 200px;
    background-color: rgb(102, 62, 10);
    clip-path: polygon(40% 50%, 0% 0%, 50% 0%, 100% 50%, 50% 100%, 0% 100%);
}